/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Medium'), url('/public/fonts/DINPro-Medium_13936.woff') format('woff');
    }

  body {
    font-family: 'DINPro-Medium', Fallback, sans-serif;
    background-color: #F5F5F5;

  }  

  .title{
    font-family: 'Philosopher', sans-serif;
    line-height: 150%;
  }  

  .text-green{
    color: #16719D;
  }

  .text-green:hover{
    color: #257fac;
  }

  .btn-green{
    background-color: #16719D;
    color: white;
  }

  .btn-green:hover{
    background-color: #257fac;
    color: white;
  }

.error{
    color: red;
}

.width{
  width: 50%;
    }
  
@media only screen and (max-width: 600px) {
  .width{
width: 100%;
  }

}


.offline{
  color: red;
  font-size: 16px;
  font-weight: 500;
}

.online{
  color: green;
  font-size: 16px;
  font-weight: 500;
}


#chat2 .form-control {
  border-color: transparent;
  }
  
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }

/* videocall screen */

.vides_call2{
  background-color: #3395FF;
}

.vides_call{
  position: relative;
}

.vides_call img{
  width: 100%;
}
.col-lg-10.vides_col {
width: 65% !important;
}
.online_row {
  background-color: #afb1b0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
}

.online_hours img {
  width: 30px;
  position: relative;
  left: 10px;
  top: 10px;
}

.online_hours h3 {
  font-size: 22px;

}
.online_hours h3 span {
  font-size: 14px;
  display: block;
}
.vides_chat{

  box-shadow: inset 0 60px 50px -30px #ffffff, inset 0px -60px 50px -30px #ffffff;
  margin-bottom: 40px;
}
.message_chat_rig {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid;
  padding: 13px;
  position: relative;
  left: 15px;
  width: 80%;
  border-radius: 25px 25px 0px 25px;
}

.message_chat_rig p {
  margin-bottom: 0px !important;
  font-size: 15px;

}
.message_chat_left{
  border: 1px solid;
  padding: 13px;
  position: relative;
    right: -55px;
  width: 80%;
  border-radius: 0px 20px 20px 45px;
  background-color: #16719D;
  color: white;
}
.message_chat_left p{
  margin-bottom: 0px !important;
  margin-bottom: 0px !important;
  font-size: 15px;
}
.message_chat_img{
  display: flex;
  margin-top: 25px;
  margin-bottom: 35px;
  justify-content: center;
}
.message_chat_img img {
  width: 65%;
  background-color: blanchedalmond;
  padding: 10px;
}

.vides_bnt{
  background-color: blue;
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
}
.vides_bnt img {
  width: 50px;
  height: 40px;
  margin: 0px 15px 10px 10px;
  position: relative;
  top: 15px;
}
.message_chats p{
  text-align: center;
}

.keyboard_box {
   height: 40px;
  border: 1px solid;
  margin-bottom: 15px;
}
.message_type{
  text-align: center;
  padding: 5px;
}
.message_icon {
  margin: 5px 8px;
}
.message_icons{
  display: flex;
  position: relative;
  left: -21px;
  top: 7px;
}
.Docter_tittle {
  position: absolute;
  bottom: 8px;
  text-align: center;
  transform: translate(145%, -10%);
}
.Docter_tittle h2{
  font-size: 28px;
}
.Docter_tittle h2 span {
  font-size: 14px;
  display: block;
}
.Docter_sec {
  position: absolute;
  top: 22%;
  left: 10%;
}
.Docter_sec img{
  width: 15%;
}
.Docter_record {
  position: absolute;
  bottom: -45px;
  right: 40%;
}